<article class="article-card--no-image" aria-labelledby="Article-id">
    <a href="#" class="article-content motion-reduce">
        <p>article image</p>
        <div class="article-card__info">
        <h2>article title</h2>
        </div>
    </a>
</article>
