<p>blog-classic-section hi</p>

{% schema %}
  {
    "name": "Blog Classic",
    "tag": "section",
    "class": "spaced-section",
    "blocks": [
      {
        "type": "title",
        "name": "post-title"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}